@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0; padding: 0;
  box-sizing: border-box}
ul{list-style: none;}
li{list-style: none;}
a{text-decoration: none; color: #000;}


@font-face {
  font-family: 'YEONGJUPunggiGinsengTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

@keyframes heartbeat {
  0%, 60% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  15%, 45% {
    transform: scale(1.05);
    animation-timing-function: ease-in;
  }
  30% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  61%, 100% {
    transform: none;  
  }
}

.heartbeat {
  animation: heartbeat 2.5s infinite forwards;  
}


.border-gradient-bottom {
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, blue, green);
  border-image-slice: 1;
}
