@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0; padding: 0;
  box-sizing: border-box}
ul{list-style: none;}
li{list-style: none;}
a{text-decoration: none; color: #000;}


@font-face {
  font-family: 'YEONGJUPunggiGinsengTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.in_text{
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
}

@keyframes heartbeat {
  0%, 60% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  15%, 45% {
    transform: scale(1.05);
    animation-timing-function: ease-in;
  }
  30% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  61%, 100% {
    transform: none;  
  }
}

.heartbeat {
  animation: heartbeat 2.5s infinite forwards;  
}


.gradient-text{
 text-decoration-line: line-through;
 text-decoration-thickness: 10px;
 text-decoration-color: red;
 


}

